.profile-container {
  margin-bottom:20px;
  padding: 10px;
}

.borderless td, .borderless th {
  border: none;
}
/* Colours =============================*/
/* ================================================*/
// Neutrals
$white : #fff;
$white2 : #F4F7F9;
$tblack: #292F33;
$black : #133a4c;
$black2 : #333;
$black3 : #666;
$black4 : #999;
$main-grey: #566566;
$shape-grey: #b3b3b3;
$dark-text-grey: #464c4c;
$bg-grey: #f2f2f2;
$light-grey: #cccccc;
$light : #eaeaea;
$grey : #4a4a4a;
$grey1 : #9babb4;
$grey2 : #d8d8d8;
$tgrey: #8899a6;
$body : #e6e6e6;
// Colours
$main-blue: #30a3d9;
$dark-blue: #133a4c;
$deep-blue: #154156;
$light-dark-blue: #257da6;
$blue-grey : #263741;
$blue-grey2 : #414e57;
$blue-grey3 : #808e96;
$purple : #9b59b6;
$blue : #31A2D8;
$green : #00A29A;
$pink : #e53272;
$deep-pink: #bf2a5e;
$yellow: #ffb300;
$input-color-placeholder: #B2E2E0 !default;

/* Typography =============================*/
/* ================================================*/
body{
	color: $black2;
	font-family: 'Source Sans Pro', sans-serif;
	background-color: $body;
}
/* Custom Checkbox =============================*/
/* ================================================*/
input[type=checkbox] { display:none; } /* to hide the checkbox itself */
input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: inline-block;
}

input[type=checkbox] + label:before { content: "\f096"; } /* unchecked icon */
input[type=checkbox] + label:before { letter-spacing: 8px; } /* space between checkbox and label */

input[type=checkbox]:checked + label:before { content: "\f14a"; } /* checked icon */
input[type=checkbox]:checked + label:before { letter-spacing: 3px; } /* allow space for check mark */
/* Buttons =============================*/
/* ================================================*/
.btn{
	color: $white;
	font-weight: 700;
	font-size: 16px;
	padding: 2px 6px;
	&:hover{
		color: $white;
	}
}
.btn-inverted{
	background-color: inherit;
	border:none;
	&:hover{
		border: solid 1px;
		border-radius: 3px;
		border-color: inherit;
	}
}
// btn size ----------/
.btn-danger, .btn-danger:visited{
		background-color: $pink;
		border: solid 1px $pink;
		font-size: 20px;
		border-radius: 25px;
		padding: 4px 20px;
		&.sml-bdr-only{
			background-color: inherit;
			border-width: 2px;
			color: $pink;
			padding: 2px 10px;
			font-size: 16px;
			&:hover{
				color:$white;
				border-width: 2px;
			}
		}
	}
.btn-danger:hover{
	background-color: darken($pink, 10%);
	border: solid 1px darken($pink, 10%);
}
.btn-primary, .btn-primary:visited{
	background-color: $blue;
	border: solid 1px $blue;
	font-size: 14px;
	border-radius: 25px;
	padding: 4px 10px;
	box-shadow: none;
	border-color: transparent;
}
.btn-primary:hover{
	background-color: darken($blue, 10%);
	border: solid 1px darken($blue, 10%);
}
.btn.full-width-button{
	width: inherit; 
	border-radius: 0;
}
.schedule-tweet-btn{
	background-color: $dark-blue;
	margin-right:6px;
	&:hover{
		background-color: darken($dark-blue, 10%);
	}
}
.tweet-btn{
	background-color: $pink;
	&:hover{
		background-color: darken($pink, 10%);
	}
}
/* Helper Class =============================*/
/* ================================================*/
.inactiveLink{
   pointer-events: none;
   cursor: default;
   color: $black;
} 
.inactiveLink:hover{
	text-decoration: none;
	color: $black;
}
.col-xs-5-5{
	width: 47%;
	float: left;
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
}
.col-xs-3-5{
	width: 28%;
	float: left;
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
}
.col-no-padding{
	padding: 0;
}
.col-no-padding-right{
	padding-right: 0;
}
.col-no-padding-left{
	padding-left: 0;
}
/* Header =============================*/
.navbar-avatar-dropdown {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}
nav {
  .form-inline {
    position: relative;
    float: right;
    .form-control{
      background-color: inherit;
      width: 250px;
      margin-right: 20px;
      border: solid 2px #80D0CC;
      height: 36px;
      input {
        color: $white;
        opacity: 0.7;
      }
      &::-webkit-input-placeholder{
        color: $white;
        opacity: 0.7;
      }
      &::-moz-placeholder{
        color: $white;
        opacity: 0.7;
      }
    }
    span {
      background-color: inherit;
      border: none;
      color: $white;
      position: absolute;
      top: 8px;
      left: 230px;
      &:hover {
        background-color: inherit;
        color: $white;
      }
    }
    img{
      height: 36px;
      width: 36px;
      border: 2px solid $white;
      margin-right: 16px;
    }
  }
}
header{
	background-color: $green;
	padding: 8px 0;  
	position: relative;
	height: 54px;
	.logo{
		position: absolute;
		top: 16px;
		left: 24px;
	}
	.form-inline {
		position: relative;
		float: right;
		.form-control{
			background-color: inherit;
			color: $white;
			font-size: 14px;
			line-height: 24px;
			width: 250px;
			margin-right: 20px;
			border: solid 2px #80D0CC;
			height: 36px;
			&::-webkit-input-placeholder{
				color: $white;
				opacity: 0.7;
			}
			&::-moz-placeholder{
				color: $white;
				opacity: 0.7;
			}
		}
		button{
			background-color: inherit;
			border: none;
			color: $white;
			position: absolute;
			top: 2px;
			left: 200px;
		}
		.nav-icons{
			margin-right: 24px;
			color: $white;
			font-size: 18px;
			line-height: 24px;
			display: inline-block;
		}
		.nav-icons:hover{
			text-decoration: none;	
		}
		i.fa{
			color: $white;
	    display: inline-block;
	    font-weight: bold;
	    line-height: 30px;
	    margin-right: 8px;
	    position: relative;
	    text-align: center;
	    vertical-align: top;
	    z-index: 1;
	    font-size: 20px;
		}
		img{
			height: 36px;
			width: 36px;
			border: 2px solid $white;
			margin-right: 16px;
		}
	}
}
/* Footer =============================*/
footer{
	background-color: $black2;
	height: 134px;
}

/* Tweets =============================*/
/* ================================================*/
.avatar{
		height: 48px;
		width: 48px;
		border-radius: 5px;
		float: left;
		margin: 0 10px 0 14px;
	}
.tweet{
	font-family: 'Helvetica Neue';
	position: relative;
	border-radius: 5px 0 0 5px;
	strong{
		font-size: 14px;
		color: $tblack;
	}
	.username{
		font-size: 13px;
		color: $tgrey;
	}
	small.time{
		color: $tgrey;
		&:before{
			content: "\00b7";
			margin-right: 2px;
			font-size: 13px;
		}
	}
	.tweet-text{
		margin-left: 72px;
		margin-right: 14px;
	}
	.tweet-container{
		padding: 0;
	}
	.quote-tweet{
		margin: 12px 14px 0 72px;
		border: solid 1px #e1e8ed;	
		border-radius: 4px;
		.quote-tweet-inner-container{
			padding:12px;
		}
	}
	.tweet-context{
		margin-bottom: 3px;
		margin-left: 33px;
		.fa-retweet{
			margin-right: 6px;
			color: #77B255;
		}
	}
	.media-container{
		margin: 12px 14px 12px 72px;
		max-height: 252px;
		max-width: 506px;
		border-radius: 5px;
		overflow: hidden;
		.photo-container{
			width: 100%;
			height: 100%;
		}
		.img{
			width:100%;
		}
	}
}
.t-action-btns-container{
	background-color: $white;
	border-radius: 0 5px 5px 0;
	// display: flex;
	// -webkit-align-items: center;
 //          align-items: center;
 //  -webkit-justify-content: center;
 //          justify-content: center;
  &:before{
		content: '';
		display: inline-block;
		height: 100%; 
		vertical-align: middle;
		margin-right: -0.25em; // Adjusts for spacing
	}
}
.t-action-btns{
	text-align: center;
	vertical-align: middle;
	.btn{
		font-size: 14px;
		color: $main-blue;
		vertical-align: top;
		margin-right: 16px;
		i{
			font-size: 36px;
			display: block;
		}
		&:hover{
			color: darken($main-blue, 10%);
		}
	}
}
// Tweets input ============================= 
.tweet-box{
	width: 100%;
	background-color: $main-blue;
	min-height: 120px;
	position: relative;
	.avatar{
		margin: 0;
		position: absolute;
		top: 15px;
		left: 14px;
	}
	div[contenteditable]{
		padding: 8px 10px;
		font-size: 14px;
		background-color: $white;
		border-radius: 3px;
		min-height: 60px;
	}
}
.tweet-form{
	margin-left: 56px;
	div.rich-editor {
    display: block;
    overflow-y: auto;
    word-wrap: break-word;
	}
}
.toolbar{
	padding: 12px 0 0;
	div{
		display: inline-block;
		font-size: 16px;
		color: $white;
		.photo-selector{
			margin-right: 6px;
		}
		i{
			margin-right: 8px;
		}
	}	
	.tweet-box-extras{
		float: left;
	}
	.tweet-button{
		float:right;	
		.tweet-counter{
			margin-right: 6px;
		}
	}
}
// Tweets input inline
.tweet-box-container{
	background-color: $main-blue;
	padding: 6px 16px;
	border-radius: 0 5px 5px 0;
}
.tweet-box-inline{
	border: none;
	box-shadow: none;
	min-height: 300px;
	.panel-body{
		padding: 0;
	}
	.tweet-form{
		margin: 12px 0;
		div[contenteditable]{
			min-height: 200px;
		}
		.toolbar .fa{
			margin: 1px 3px;
		}
	}
}
/* General Styles =============================*/
/* ================================================*/
.header-blue{
	background-color: $blue;
	color: $white;
	border-radius: 3px 3px 0 0; 
	padding: 15px 0 10px;
	.col-sm-2.text-center{
		img{
			width: 120px;
			height: 120px;
		}
	}
	h1{
		font-size: 24px;
		font-weight: 600;
		margin-top: 0;
		span{
			font-size: 18px;
			font-weight: normal;
		}
	}
	p{
		font-size: 18px;
		font-weight: normal;
	}
	ul{
		margin: 0;
		padding: 0;
		list-style-type: none;
		li{
			color: $black;
			font-size: 18px;
			font-weight: bold;
			float: left;
			margin-right: 18px;
			span{
				font-weight: normal;
				display: block;
				font-size: 12px;
			}
			a{
				font-size: 14px;
				color: $black;
			}
		}
	}
	.col-sm-4{
		.fa-bookmark-o, .fa-bookmark{
			font-size: 50px;
		  position: absolute;
		  right: 18px;
		  top: -18px;
			color: $white;
		}
		.fa-bookmark-o:hover:before{
			content: "\f02e";
			cursor: pointer;
		}
		ul{
			list-style-type: none;
			margin-top:5px;
			padding-left: 0;
			li{
				/*font-size: 18px;
				color: $black;
				line-height: 24px;
				margin-bottom: 15px;
				strong{
					font-weight: 600;
					width: 100px;
					display: inline-block;
				}*/
				margin-top: 15px;
				a.tag{
					background-color: $black;
					color: $white;
					font-weight: 700;
					font-size: 14px;
					padding: 5px 12px;
					border-radius: 5px;
					display: inline-block;
				}
			}
		}
	}
}
.header-pink{
	background-color: $pink;
	& .row .col-xs-6:first-child{
		border-right: solid 2px $deep-pink;
	}

	a{
		font-size: 18px;
		line-height: 48px;
		color: $white;
		font-weight: 600;
		display: block;
		&:hover{
			text-decoration:none;
			color: darken($pink, 30%);
		}
	}
}
.content-main{
	margin: 24px 0;
	background-color: $white2;
	.body-contents{
		& > .row{
			border: solid 1px $grey1;
			&.body-header{
				border-top: solid 1px $grey1;
				border-bottom: solid 1px $grey1;
				padding: 25px 65px;
				h2{
					font-size: 36px;
					margin: 0;
					font-weight: 700;
					color: $black;
				}
			}
			&.document{
				border-bottom: solid 1px $grey1;
				padding: 15px 6%;
				.num{
					font-size: 20px;
					font-weight: 600;
					display: block;
					padding-top: 3px;
				}
				h3{
					margin-top: 0;
					color: $black;
					font-size: 28px;
					& + a{
						font-size: 14px;
						color: $pink;
						font-weight: 700;
						.fa{
							padding-left: 5px;
						}
						&[aria-expanded="false"] .fa-chevron-up{
							display: none;
						}
						&[aria-expanded="true"] .fa-chevron-down{
							display: none;
						}
					}
				}
				h4{
					font-size: 18px;
					color: $black;
					margin: 0;
				}
				.document-collapse{
					padding: 25px 15px;
					.tweets-panel{
						margin-bottom: 24px;
					}
					.panel{
						margin-bottom:0;
						border-radius:0;
					}
					.follower{
						height: 646px;
						h4{
							font-size: 16px;
							color: $black;
							font-weight: 600;
							margin: 25px 0;
						}
						ul{
							margin: 0;
							padding: 0;
						
							li{
								list-style-type: none;
								display: inline-block;
								margin: 0 48px 48px 0;
								&:last-child{
									margin-right:0;
								}
								img{
									width: 64px;
									height: 64px;
									border: solid 2px $grey1;
								}
							}
						}
					}
				}
			}
			&.info{
				background-color: $blue;
				padding: 15px 65px;
				margin-top: -1px;
				h4{
					font-size: 20px;
					color: $white;
					font-weight: 600;
				}
				a{
					margin-right: 24px;
					&:last-child{
						margin-right:0;
					}
					img{
					width: 48px;
					height: 48px;
					border: solid 2px $white;
					
					}
				}
			}
			&.more-info{
				padding: 15px 65px;
				h2{
					font-size: 36px;
					margin: 10px 0 30px;
					font-weight: 700;
					color: $black;
				}
				h3{
					color: $grey;
					font-size: 28px;
				}
				.people{
					padding: 40px 0;
					img{
						width: 64px;
						height: 64px;
					}
					h4{
						font-size: 16px;
						font-weight: 600;
					}
					h3{
						font-size: 24px;
						font-weight: 600;
						margin-top: 0;
						span{
							font-size: 14px;
							display: block;
						}
					}
				}
				a.btn-primary{
					font-size: 18px;
					font-weight: 600;	
				}
			}
		}
	}
}
.content-inner{
	margin: 37px 0;
	padding: 0;
}
.body-header{
	h2{
		font-size: 36px;
		margin: 0;
		font-weight: 700;
		color: $black;
	}
}
.aside{
	ul{
		list-style-type: none;
		padding: 0;
		margin: 6px 0;
		li{
			color: $black3;
			font-size: 16px;
			display: block;
			margin-bottom: 6px;
			a{
				font-size: 16px;
				color: $blue;
				display: block;
			}
			&:last-child{
				margin-right: 0;
			}
		}
	}
}
/* List */
.heading-text{
margin-bottom: 40px;
}
.tweets-list{
	padding: 5px 80px;
	.checkbox{
		margin: 0;
		padding: 0;
		label{
			color: transparent;
			padding-left: 10px;
			margin-top: 25px;
			margin-bottom: -20px;
			&:before{
				color: $black3;
				font-size: 35px;
			}
		}
	}
	.header-blue{
		padding: 8px 0;
		border-radius: 4px;
		.col-sm-2.text-center img{
			width: 60px;
			height: 60px;
		}
		.col-sm-4 ul li{
			margin: 0 8px 8px 0;
			a{
				background-color: $yellow;
				padding: 2px 6px;
				font-size: 12px;
			}
		}
		.col-sm-4 span.fa-bookmark-o, .col-sm-4 span.fa-bookmark{
			font-size: 26px;
			top: -10px;
		}
		.col-sm-4 span.fa-bookmark:hover:before{
			content: "\f00d";
			font-size: 24px;
			cursor: pointer;
		}
	}
}
.pager-btns{
	margin-top: 35px;
	overflow: hidden;
	li{
		&:first-child{
			margin-right:210px;
		}
	}
	.pager li > a, .pager li > span{
		background-color: inherit;
		border-color: $blue;
		color: $blue;
		&:hover, &:focus{
			background-color:$blue;
			color: $white;
		}
	}
}
.pagination-btns{
	margin-bottom: 35px;
	.pagination > li > a, .pagination > li > span{
		background-color:inherit;
		color: $blue;
		border-color: $blue;
		&:hover, &:focus{
			background-color:$blue;
			color: $white;
		}
	}
}
