/*
Error: Invalid CSS after "			font-size: 50px": expected "{", was ";"
        on line 525 of /Users/annchan/Dropbox/Projects/TopicDNA/web/Private/Sass/custom.scss

520: <<<<<<< HEAD
521: 		.fa-bookmark-o, .fa-bookmark{
522: =======
523: 		span.fa{
524: >>>>>>> 621ed9eb2ff2a68d62185b2c26110e5910f09190
525: 			font-size: 50px;
526: 			position: absolute;
527: 			right: 18px;
528: 			top: -18px;
529: 			color: $white;
530: 		}

Backtrace:
/Users/annchan/Dropbox/Projects/TopicDNA/web/Private/Sass/custom.scss:525
/Users/annchan/Developer/rubystack/ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.19/lib/sass/scss/parser.rb:1161:in `expected'
/Users/annchan/Developer/rubystack/ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.19/lib/sass/scss/parser.rb:1097:in `expected'
/Users/annchan/Developer/rubystack/ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.19/lib/sass/scss/parser.rb:1092:in `tok!'
/Users/annchan/Developer/rubystack/ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.19/lib/sass/scss/parser.rb:637:in `block'
/Users/annchan/Developer/rubystack/ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.19/lib/sass/scss/parser.rb:707:in `declaration_or_ruleset'
/Users/annchan/Developer/rubystack/ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.19/lib/sass/scss/parser.rb:657:in `block_child'
/Users/annchan/Developer/rubystack/ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.19/lib/sass/scss/parser.rb:646:in `block_contents'
/Users/annchan/Developer/rubystack/ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.19/lib/sass/scss/parser.rb:638:in `block'
/Users/annchan/Developer/rubystack/ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.19/lib/sass/scss/parser.rb:707:in `declaration_or_ruleset'
/Users/annchan/Developer/rubystack/ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.19/lib/sass/scss/parser.rb:657:in `block_child'
/Users/annchan/Developer/rubystack/ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.19/lib/sass/scss/parser.rb:646:in `block_contents'
/Users/annchan/Developer/rubystack/ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.19/lib/sass/scss/parser.rb:638:in `block'
/Users/annchan/Developer/rubystack/ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.19/lib/sass/scss/parser.rb:707:in `declaration_or_ruleset'
/Users/annchan/Developer/rubystack/ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.19/lib/sass/scss/parser.rb:657:in `block_child'
/Users/annchan/Developer/rubystack/ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.19/lib/sass/scss/parser.rb:646:in `block_contents'
/Users/annchan/Developer/rubystack/ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.19/lib/sass/scss/parser.rb:638:in `block'
/Users/annchan/Developer/rubystack/ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.19/lib/sass/scss/parser.rb:707:in `declaration_or_ruleset'
/Users/annchan/Developer/rubystack/ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.19/lib/sass/scss/parser.rb:657:in `block_child'
/Users/annchan/Developer/rubystack/ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.19/lib/sass/scss/parser.rb:649:in `block_contents'
/Users/annchan/Developer/rubystack/ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.19/lib/sass/scss/parser.rb:638:in `block'
/Users/annchan/Developer/rubystack/ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.19/lib/sass/scss/parser.rb:631:in `ruleset'
/Users/annchan/Developer/rubystack/ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.19/lib/sass/scss/parser.rb:656:in `block_child'
/Users/annchan/Developer/rubystack/ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.19/lib/sass/scss/parser.rb:649:in `block_contents'
/Users/annchan/Developer/rubystack/ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.19/lib/sass/scss/parser.rb:117:in `stylesheet'
/Users/annchan/Developer/rubystack/ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.19/lib/sass/scss/parser.rb:42:in `parse'
/Users/annchan/Developer/rubystack/ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.19/lib/sass/engine.rb:403:in `_to_tree'
/Users/annchan/Developer/rubystack/ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.19/lib/sass/engine.rb:278:in `render'
/Users/annchan/Developer/rubystack/ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/annchan/Developer/rubystack/ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/annchan/Developer/rubystack/ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:209:in `each'
/Users/annchan/Developer/rubystack/ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/annchan/Developer/rubystack/ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
/Users/annchan/Developer/rubystack/ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:328:in `block in watch'
/Users/annchan/Developer/rubystack/ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.19/vendor/listen/lib/listen/listener.rb:252:in `call'
/Users/annchan/Developer/rubystack/ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.19/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/Users/annchan/Developer/rubystack/ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.19/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/Users/annchan/Developer/rubystack/ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.19/vendor/listen/lib/listen/adapter.rb:254:in `call'
/Users/annchan/Developer/rubystack/ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.19/vendor/listen/lib/listen/adapter.rb:254:in `report_changes'
/Users/annchan/Developer/rubystack/ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.19/vendor/listen/lib/listen/adapter.rb:323:in `poll_changed_directories'
/Users/annchan/Developer/rubystack/ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.19/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"			font-size: 50px\": expected \"{\", was \";\"\A         on line 525 of /Users/annchan/Dropbox/Projects/TopicDNA/web/Private/Sass/custom.scss\A \A 520: <<<<<<< HEAD\A 521: 		.fa-bookmark-o, .fa-bookmark{\A 522: =======\A 523: 		span.fa{\A 524: >>>>>>> 621ed9eb2ff2a68d62185b2c26110e5910f09190\A 525: 			font-size: 50px;\A 526: 			position: absolute;\A 527: 			right: 18px;\A 528: 			top: -18px;\A 529: 			color: $white;\A 530: 		}"; }
