/* line 1, ../../Private/Sass/custom.scss */
.profile-container {
  margin-bottom: 20px;
  padding: 10px;
}

/* line 6, ../../Private/Sass/custom.scss */
.borderless td, .borderless th {
  border: none;
}

/* Colours =============================*/
/* ================================================*/
/* Typography =============================*/
/* ================================================*/
/* line 48, ../../Private/Sass/custom.scss */
body {
  color: #333;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #e6e6e6;
}

/* Custom Checkbox =============================*/
/* ================================================*/
/* line 55, ../../Private/Sass/custom.scss */
input[type=checkbox] {
  display: none;
}

/* to hide the checkbox itself */
/* line 56, ../../Private/Sass/custom.scss */
input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: inline-block;
}

/* line 61, ../../Private/Sass/custom.scss */
input[type=checkbox] + label:before {
  content: "\f096";
}

/* unchecked icon */
/* line 62, ../../Private/Sass/custom.scss */
input[type=checkbox] + label:before {
  letter-spacing: 8px;
}

/* space between checkbox and label */
/* line 64, ../../Private/Sass/custom.scss */
input[type=checkbox]:checked + label:before {
  content: "\f14a";
}

/* checked icon */
/* line 65, ../../Private/Sass/custom.scss */
input[type=checkbox]:checked + label:before {
  letter-spacing: 3px;
}

/* allow space for check mark */
/* Buttons =============================*/
/* ================================================*/
/* line 68, ../../Private/Sass/custom.scss */
.btn {
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  padding: 2px 6px;
}
/* line 73, ../../Private/Sass/custom.scss */
.btn:hover {
  color: #fff;
}

/* line 77, ../../Private/Sass/custom.scss */
.btn-inverted {
  background-color: inherit;
  border: none;
}
/* line 80, ../../Private/Sass/custom.scss */
.btn-inverted:hover {
  border: solid 1px;
  border-radius: 3px;
  border-color: inherit;
}

/* line 87, ../../Private/Sass/custom.scss */
.btn-danger, .btn-danger:visited {
  background-color: #e53272;
  border: solid 1px #e53272;
  font-size: 20px;
  border-radius: 25px;
  padding: 4px 20px;
}
/* line 93, ../../Private/Sass/custom.scss */
.btn-danger.sml-bdr-only, .btn-danger:visited.sml-bdr-only {
  background-color: inherit;
  border-width: 2px;
  color: #e53272;
  padding: 2px 10px;
  font-size: 16px;
}
/* line 99, ../../Private/Sass/custom.scss */
.btn-danger.sml-bdr-only:hover, .btn-danger:visited.sml-bdr-only:hover {
  color: #fff;
  border-width: 2px;
}

/* line 105, ../../Private/Sass/custom.scss */
.btn-danger:hover {
  background-color: #ca1a59;
  border: solid 1px #ca1a59;
}

/* line 109, ../../Private/Sass/custom.scss */
.btn-primary, .btn-primary:visited {
  background-color: #31A2D8;
  border: solid 1px #31A2D8;
  font-size: 14px;
  border-radius: 25px;
  padding: 4px 10px;
  box-shadow: none;
  border-color: transparent;
}

/* line 118, ../../Private/Sass/custom.scss */
.btn-primary:hover {
  background-color: #2285b4;
  border: solid 1px #2285b4;
}

/* line 122, ../../Private/Sass/custom.scss */
.btn.full-width-button {
  width: inherit;
  border-radius: 0;
}

/* line 126, ../../Private/Sass/custom.scss */
.schedule-tweet-btn {
  background-color: #133a4c;
  margin-right: 6px;
}
/* line 129, ../../Private/Sass/custom.scss */
.schedule-tweet-btn:hover {
  background-color: #091b23;
}

/* line 133, ../../Private/Sass/custom.scss */
.tweet-btn {
  background-color: #e53272;
}
/* line 135, ../../Private/Sass/custom.scss */
.tweet-btn:hover {
  background-color: #ca1a59;
}

/* Helper Class =============================*/
/* ================================================*/
/* line 141, ../../Private/Sass/custom.scss */
.inactiveLink {
  pointer-events: none;
  cursor: default;
  color: #133a4c;
}

/* line 146, ../../Private/Sass/custom.scss */
.inactiveLink:hover {
  text-decoration: none;
  color: #133a4c;
}

/* line 150, ../../Private/Sass/custom.scss */
.col-xs-5-5 {
  width: 47%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 158, ../../Private/Sass/custom.scss */
.col-xs-3-5 {
  width: 28%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 166, ../../Private/Sass/custom.scss */
.col-no-padding {
  padding: 0;
}

/* line 169, ../../Private/Sass/custom.scss */
.col-no-padding-right {
  padding-right: 0;
}

/* line 172, ../../Private/Sass/custom.scss */
.col-no-padding-left {
  padding-left: 0;
}

/* Header =============================*/
/* line 176, ../../Private/Sass/custom.scss */
.navbar-avatar-dropdown {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}

/* line 181, ../../Private/Sass/custom.scss */
nav .form-inline {
  position: relative;
  float: right;
}
/* line 184, ../../Private/Sass/custom.scss */
nav .form-inline .form-control {
  background-color: inherit;
  width: 250px;
  margin-right: 20px;
  border: solid 2px #80D0CC;
  height: 36px;
}
/* line 190, ../../Private/Sass/custom.scss */
nav .form-inline .form-control input {
  color: #fff;
  opacity: 0.7;
}
/* line 194, ../../Private/Sass/custom.scss */
nav .form-inline .form-control::-webkit-input-placeholder {
  color: #fff;
  opacity: 0.7;
}
/* line 198, ../../Private/Sass/custom.scss */
nav .form-inline .form-control::-moz-placeholder {
  color: #fff;
  opacity: 0.7;
}
/* line 203, ../../Private/Sass/custom.scss */
nav .form-inline span {
  background-color: inherit;
  border: none;
  color: #fff;
  position: absolute;
  top: 8px;
  left: 230px;
}
/* line 210, ../../Private/Sass/custom.scss */
nav .form-inline span:hover {
  background-color: inherit;
  color: #fff;
}
/* line 215, ../../Private/Sass/custom.scss */
nav .form-inline img {
  height: 36px;
  width: 36px;
  border: 2px solid #fff;
  margin-right: 16px;
}

/* line 223, ../../Private/Sass/custom.scss */
header {
  background-color: #00A29A;
  padding: 8px 0;
  position: relative;
  height: 54px;
}
/* line 228, ../../Private/Sass/custom.scss */
header .logo {
  position: absolute;
  top: 16px;
  left: 24px;
}
/* line 233, ../../Private/Sass/custom.scss */
header .form-inline {
  position: relative;
  float: right;
}
/* line 236, ../../Private/Sass/custom.scss */
header .form-inline .form-control {
  background-color: inherit;
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  width: 250px;
  margin-right: 20px;
  border: solid 2px #80D0CC;
  height: 36px;
}
/* line 245, ../../Private/Sass/custom.scss */
header .form-inline .form-control::-webkit-input-placeholder {
  color: #fff;
  opacity: 0.7;
}
/* line 249, ../../Private/Sass/custom.scss */
header .form-inline .form-control::-moz-placeholder {
  color: #fff;
  opacity: 0.7;
}
/* line 254, ../../Private/Sass/custom.scss */
header .form-inline button {
  background-color: inherit;
  border: none;
  color: #fff;
  position: absolute;
  top: 2px;
  left: 200px;
}
/* line 262, ../../Private/Sass/custom.scss */
header .form-inline .nav-icons {
  margin-right: 24px;
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  display: inline-block;
}
/* line 269, ../../Private/Sass/custom.scss */
header .form-inline .nav-icons:hover {
  text-decoration: none;
}
/* line 272, ../../Private/Sass/custom.scss */
header .form-inline i.fa {
  color: #fff;
  display: inline-block;
  font-weight: bold;
  line-height: 30px;
  margin-right: 8px;
  position: relative;
  text-align: center;
  vertical-align: top;
  z-index: 1;
  font-size: 20px;
}
/* line 284, ../../Private/Sass/custom.scss */
header .form-inline img {
  height: 36px;
  width: 36px;
  border: 2px solid #fff;
  margin-right: 16px;
}

/* Footer =============================*/
/* line 293, ../../Private/Sass/custom.scss */
footer {
  background-color: #333;
  height: 134px;
}

/* Tweets =============================*/
/* ================================================*/
/* line 299, ../../Private/Sass/custom.scss */
.avatar {
  height: 48px;
  width: 48px;
  border-radius: 5px;
  float: left;
  margin: 0 10px 0 14px;
}

/* line 306, ../../Private/Sass/custom.scss */
.tweet {
  font-family: 'Helvetica Neue';
  position: relative;
  border-radius: 5px 0 0 5px;
}
/* line 310, ../../Private/Sass/custom.scss */
.tweet strong {
  font-size: 14px;
  color: #292F33;
}
/* line 314, ../../Private/Sass/custom.scss */
.tweet .username {
  font-size: 13px;
  color: #8899a6;
}
/* line 318, ../../Private/Sass/custom.scss */
.tweet small.time {
  color: #8899a6;
}
/* line 320, ../../Private/Sass/custom.scss */
.tweet small.time:before {
  content: "\00b7";
  margin-right: 2px;
  font-size: 13px;
}
/* line 326, ../../Private/Sass/custom.scss */
.tweet .tweet-text {
  margin-left: 72px;
  margin-right: 14px;
}
/* line 330, ../../Private/Sass/custom.scss */
.tweet .tweet-container {
  padding: 0;
}
/* line 333, ../../Private/Sass/custom.scss */
.tweet .quote-tweet {
  margin: 12px 14px 0 72px;
  border: solid 1px #e1e8ed;
  border-radius: 4px;
}
/* line 337, ../../Private/Sass/custom.scss */
.tweet .quote-tweet .quote-tweet-inner-container {
  padding: 12px;
}
/* line 341, ../../Private/Sass/custom.scss */
.tweet .tweet-context {
  margin-bottom: 3px;
  margin-left: 33px;
}
/* line 344, ../../Private/Sass/custom.scss */
.tweet .tweet-context .fa-retweet {
  margin-right: 6px;
  color: #77B255;
}
/* line 349, ../../Private/Sass/custom.scss */
.tweet .media-container {
  margin: 12px 14px 12px 72px;
  max-height: 252px;
  max-width: 506px;
  border-radius: 5px;
  overflow: hidden;
}
/* line 355, ../../Private/Sass/custom.scss */
.tweet .media-container .photo-container {
  width: 100%;
  height: 100%;
}
/* line 359, ../../Private/Sass/custom.scss */
.tweet .media-container .img {
  width: 100%;
}

/* line 364, ../../Private/Sass/custom.scss */
.t-action-btns-container {
  background-color: #fff;
  border-radius: 0 5px 5px 0;
}
/* line 372, ../../Private/Sass/custom.scss */
.t-action-btns-container .panel-body {
  height: 50%;
}
/* line 374, ../../Private/Sass/custom.scss */
.t-action-btns-container .panel-body:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}

/* line 383, ../../Private/Sass/custom.scss */
.t-action-btns {
  text-align: center;
  vertical-align: middle;
}
/* line 386, ../../Private/Sass/custom.scss */
.t-action-btns .btn {
  font-size: 14px;
  color: #30a3d9;
  vertical-align: top;
  margin-right: 16px;
}
/* line 391, ../../Private/Sass/custom.scss */
.t-action-btns .btn i {
  font-size: 36px;
  display: block;
}
/* line 395, ../../Private/Sass/custom.scss */
.t-action-btns .btn:hover {
  color: #2186b5;
}

/* line 401, ../../Private/Sass/custom.scss */
.tweet-box {
  width: 100%;
  background-color: #30a3d9;
  min-height: 120px;
  position: relative;
}
/* line 406, ../../Private/Sass/custom.scss */
.tweet-box .avatar {
  margin: 0;
  position: absolute;
  top: 15px;
  left: 14px;
}
/* line 412, ../../Private/Sass/custom.scss */
.tweet-box div[contenteditable] {
  padding: 8px 10px;
  font-size: 14px;
  background-color: #fff;
  border-radius: 3px;
  min-height: 60px;
}

/* line 420, ../../Private/Sass/custom.scss */
.tweet-form {
  margin-left: 56px;
}
/* line 422, ../../Private/Sass/custom.scss */
.tweet-form div.rich-editor {
  display: block;
  overflow-y: auto;
  word-wrap: break-word;
}

/* line 428, ../../Private/Sass/custom.scss */
.toolbar {
  padding: 12px 0 0;
}
/* line 430, ../../Private/Sass/custom.scss */
.toolbar div {
  display: inline-block;
  font-size: 16px;
  color: #fff;
}
/* line 434, ../../Private/Sass/custom.scss */
.toolbar div .photo-selector {
  margin-right: 6px;
}
/* line 437, ../../Private/Sass/custom.scss */
.toolbar div i {
  margin-right: 8px;
}
/* line 441, ../../Private/Sass/custom.scss */
.toolbar .tweet-box-extras {
  float: left;
}
/* line 444, ../../Private/Sass/custom.scss */
.toolbar .tweet-button {
  float: right;
}
/* line 446, ../../Private/Sass/custom.scss */
.toolbar .tweet-button .tweet-counter {
  margin-right: 6px;
}

/* line 452, ../../Private/Sass/custom.scss */
.tweet-box-container {
  background-color: #30a3d9;
  padding: 6px 16px;
  border-radius: 0 5px 5px 0;
}

/* line 457, ../../Private/Sass/custom.scss */
.tweet-box-inline {
  border: none;
  box-shadow: none;
  min-height: 300px;
}
/* line 461, ../../Private/Sass/custom.scss */
.tweet-box-inline .panel-body {
  padding: 0;
}
/* line 464, ../../Private/Sass/custom.scss */
.tweet-box-inline .tweet-form {
  margin: 12px 0;
}
/* line 466, ../../Private/Sass/custom.scss */
.tweet-box-inline .tweet-form div[contenteditable] {
  min-height: 200px;
}
/* line 469, ../../Private/Sass/custom.scss */
.tweet-box-inline .tweet-form .toolbar .fa {
  margin: 1px 3px;
}

/* General Styles =============================*/
/* ================================================*/
/* line 476, ../../Private/Sass/custom.scss */
.header-blue {
  background-color: #31A2D8;
  color: #fff;
  border-radius: 3px 3px 0 0;
  padding: 15px 0 10px;
}
/* line 482, ../../Private/Sass/custom.scss */
.header-blue .col-sm-2.text-center img {
  width: 120px;
  height: 120px;
}
/* line 487, ../../Private/Sass/custom.scss */
.header-blue h1 {
  font-size: 24px;
  font-weight: 600;
  margin-top: 0;
}
/* line 491, ../../Private/Sass/custom.scss */
.header-blue h1 span {
  font-size: 18px;
  font-weight: normal;
}
/* line 496, ../../Private/Sass/custom.scss */
.header-blue p {
  font-size: 18px;
  font-weight: normal;
}
/* line 500, ../../Private/Sass/custom.scss */
.header-blue ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* line 504, ../../Private/Sass/custom.scss */
.header-blue ul li {
  color: #133a4c;
  font-size: 18px;
  font-weight: bold;
  float: left;
  margin-right: 18px;
}
/* line 510, ../../Private/Sass/custom.scss */
.header-blue ul li span {
  font-weight: normal;
  display: block;
  font-size: 12px;
}
/* line 515, ../../Private/Sass/custom.scss */
.header-blue ul li a {
  font-size: 14px;
  color: #133a4c;
}
/* line 522, ../../Private/Sass/custom.scss */
.header-blue .col-sm-4 .fa-bookmark-o, .header-blue .col-sm-4 .fa-bookmark {
  font-size: 50px;
  position: absolute;
  right: 18px;
  top: -18px;
  color: #fff;
}
/* line 529, ../../Private/Sass/custom.scss */
.header-blue .col-sm-4 span.fa:hover:before {
  content: "\f02e";
  cursor: pointer;
}
/* line 533, ../../Private/Sass/custom.scss */
.header-blue .col-sm-4 ul {
  list-style-type: none;
  margin-top: 5px;
  padding-left: 0;
}
/* line 537, ../../Private/Sass/custom.scss */
.header-blue .col-sm-4 ul li {
  /*font-size: 18px;
  color: $black;
  line-height: 24px;
  margin-bottom: 15px;
  strong{
  	font-weight: 600;
  	width: 100px;
  	display: inline-block;
  }*/
  margin-top: 15px;
}
/* line 548, ../../Private/Sass/custom.scss */
.header-blue .col-sm-4 ul li a.tag {
  background-color: #133a4c;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  padding: 5px 12px;
  border-radius: 5px;
  display: inline-block;
}

/* line 561, ../../Private/Sass/custom.scss */
.header-pink {
  background-color: #e53272;
}
/* line 563, ../../Private/Sass/custom.scss */
.header-pink .row .col-xs-6:first-child {
  border-right: solid 2px #bf2a5e;
}
/* line 567, ../../Private/Sass/custom.scss */
.header-pink a {
  font-size: 18px;
  line-height: 48px;
  color: #fff;
  font-weight: 600;
  display: block;
}
/* line 573, ../../Private/Sass/custom.scss */
.header-pink a:hover {
  text-decoration: none;
  color: #700e31;
}

/* line 579, ../../Private/Sass/custom.scss */
.content-main {
  margin: 24px 0;
  background-color: #F4F7F9;
}
/* line 583, ../../Private/Sass/custom.scss */
.content-main .body-contents > .row {
  border: solid 1px #9babb4;
}
/* line 585, ../../Private/Sass/custom.scss */
.content-main .body-contents > .row.body-header {
  border-top: solid 1px #9babb4;
  border-bottom: solid 1px #9babb4;
  padding: 25px 65px;
}
/* line 589, ../../Private/Sass/custom.scss */
.content-main .body-contents > .row.body-header h2 {
  font-size: 36px;
  margin: 0;
  font-weight: 700;
  color: #133a4c;
}
/* line 596, ../../Private/Sass/custom.scss */
.content-main .body-contents > .row.document {
  border-bottom: solid 1px #9babb4;
  padding: 15px 6%;
}
/* line 599, ../../Private/Sass/custom.scss */
.content-main .body-contents > .row.document .num {
  font-size: 20px;
  font-weight: 600;
  display: block;
  padding-top: 3px;
}
/* line 605, ../../Private/Sass/custom.scss */
.content-main .body-contents > .row.document h3 {
  margin-top: 0;
  color: #133a4c;
  font-size: 28px;
}
/* line 609, ../../Private/Sass/custom.scss */
.content-main .body-contents > .row.document h3 + a {
  font-size: 14px;
  color: #e53272;
  font-weight: 700;
}
/* line 613, ../../Private/Sass/custom.scss */
.content-main .body-contents > .row.document h3 + a .fa {
  padding-left: 5px;
}
/* line 616, ../../Private/Sass/custom.scss */
.content-main .body-contents > .row.document h3 + a[aria-expanded="false"] .fa-chevron-up {
  display: none;
}
/* line 619, ../../Private/Sass/custom.scss */
.content-main .body-contents > .row.document h3 + a[aria-expanded="true"] .fa-chevron-down {
  display: none;
}
/* line 624, ../../Private/Sass/custom.scss */
.content-main .body-contents > .row.document h4 {
  font-size: 18px;
  color: #133a4c;
  margin: 0;
}
/* line 629, ../../Private/Sass/custom.scss */
.content-main .body-contents > .row.document .document-collapse {
  padding: 25px 15px;
}
/* line 631, ../../Private/Sass/custom.scss */
.content-main .body-contents > .row.document .document-collapse .tweets-panel {
  margin-bottom: 24px;
}
/* line 634, ../../Private/Sass/custom.scss */
.content-main .body-contents > .row.document .document-collapse .panel {
  margin-bottom: 0;
  border-radius: 0;
}
/* line 638, ../../Private/Sass/custom.scss */
.content-main .body-contents > .row.document .document-collapse .follower {
  /*height: 646px;*/
}
/* line 640, ../../Private/Sass/custom.scss */
.content-main .body-contents > .row.document .document-collapse .follower h4 {
  font-size: 16px;
  color: #133a4c;
  font-weight: 600;
  margin: 25px 0;
}
/* line 646, ../../Private/Sass/custom.scss */
.content-main .body-contents > .row.document .document-collapse .follower ul {
  margin: 0;
  padding: 0;
}
/* line 650, ../../Private/Sass/custom.scss */
.content-main .body-contents > .row.document .document-collapse .follower ul li {
  list-style-type: none;
  display: inline-block;
  margin: 0 48px 48px 0;
}
/* line 654, ../../Private/Sass/custom.scss */
.content-main .body-contents > .row.document .document-collapse .follower ul li:last-child {
  margin-right: 0;
}
/* line 657, ../../Private/Sass/custom.scss */
.content-main .body-contents > .row.document .document-collapse .follower ul li img {
  width: 64px;
  height: 64px;
  border: solid 2px #9babb4;
}
/* line 664, ../../Private/Sass/custom.scss */
.content-main .body-contents > .row.document .document-collapse .follower ul:last-child li {
  margin-bottom: 0;
}
/* line 672, ../../Private/Sass/custom.scss */
.content-main .body-contents > .row.info {
  background-color: #31A2D8;
  padding: 15px 65px;
  margin-top: -1px;
}
/* line 676, ../../Private/Sass/custom.scss */
.content-main .body-contents > .row.info h4 {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}
/* line 681, ../../Private/Sass/custom.scss */
.content-main .body-contents > .row.info a {
  margin-right: 24px;
}
/* line 683, ../../Private/Sass/custom.scss */
.content-main .body-contents > .row.info a:last-child {
  margin-right: 0;
}
/* line 686, ../../Private/Sass/custom.scss */
.content-main .body-contents > .row.info a img {
  width: 48px;
  height: 48px;
  border: solid 2px #fff;
}
/* line 694, ../../Private/Sass/custom.scss */
.content-main .body-contents > .row.more-info {
  padding: 15px 65px;
}
/* line 696, ../../Private/Sass/custom.scss */
.content-main .body-contents > .row.more-info h2 {
  font-size: 36px;
  margin: 10px 0 30px;
  font-weight: 700;
  color: #133a4c;
}
/* line 702, ../../Private/Sass/custom.scss */
.content-main .body-contents > .row.more-info h3 {
  color: #4a4a4a;
  font-size: 28px;
}
/* line 706, ../../Private/Sass/custom.scss */
.content-main .body-contents > .row.more-info .people {
  padding: 40px 0;
}
/* line 708, ../../Private/Sass/custom.scss */
.content-main .body-contents > .row.more-info .people img {
  width: 64px;
  height: 64px;
}
/* line 712, ../../Private/Sass/custom.scss */
.content-main .body-contents > .row.more-info .people h4 {
  font-size: 16px;
  font-weight: 600;
}
/* line 716, ../../Private/Sass/custom.scss */
.content-main .body-contents > .row.more-info .people h3 {
  font-size: 24px;
  font-weight: 600;
  margin-top: 0;
}
/* line 720, ../../Private/Sass/custom.scss */
.content-main .body-contents > .row.more-info .people h3 span {
  font-size: 14px;
  display: block;
}
/* line 726, ../../Private/Sass/custom.scss */
.content-main .body-contents > .row.more-info a.btn-primary {
  font-size: 18px;
  font-weight: 600;
}

/* line 734, ../../Private/Sass/custom.scss */
.content-inner {
  margin: 37px 0;
  padding: 0;
}

/* line 739, ../../Private/Sass/custom.scss */
.body-header h2 {
  font-size: 36px;
  margin: 0;
  font-weight: 700;
  color: #133a4c;
}

/* line 747, ../../Private/Sass/custom.scss */
.aside ul {
  list-style-type: none;
  padding: 0;
  margin: 6px 0;
}
/* line 751, ../../Private/Sass/custom.scss */
.aside ul li {
  color: #666;
  font-size: 16px;
  display: block;
  margin-bottom: 6px;
}
/* line 756, ../../Private/Sass/custom.scss */
.aside ul li a {
  font-size: 16px;
  color: #31A2D8;
  display: block;
}
/* line 761, ../../Private/Sass/custom.scss */
.aside ul li:last-child {
  margin-right: 0;
}
/* line 765, ../../Private/Sass/custom.scss */
.aside ul .heading-text {
  margin-bottom: 40px;
}
/* line 768, ../../Private/Sass/custom.scss */
.aside ul .tweets-list {
  padding: 5px 80px;
}
/* line 770, ../../Private/Sass/custom.scss */
.aside ul .tweets-list .checkbox {
  margin: 0;
  padding: 0;
}
/* line 773, ../../Private/Sass/custom.scss */
.aside ul .tweets-list .checkbox label {
  color: transparent;
  padding-left: 10px;
  margin-top: 25px;
  margin-bottom: -20px;
}
/* line 778, ../../Private/Sass/custom.scss */
.aside ul .tweets-list .checkbox label:before {
  color: #666;
  font-size: 35px;
}
/* line 785, ../../Private/Sass/custom.scss */
.aside ul .tweets-list .header-blue {
  padding: 8px 0;
  border-radius: 4px;
}
/* line 788, ../../Private/Sass/custom.scss */
.aside ul .tweets-list .header-blue .col-sm-2.text-center img {
  width: 60px;
  height: 60px;
}
/* line 792, ../../Private/Sass/custom.scss */
.aside ul .tweets-list .header-blue .col-sm-4 ul li {
  margin: 0 8px 8px 0;
}
/* line 794, ../../Private/Sass/custom.scss */
.aside ul .tweets-list .header-blue .col-sm-4 ul li a {
  background-color: #ffb300;
  padding: 2px 6px;
  font-size: 12px;
}
/* line 800, ../../Private/Sass/custom.scss */
.aside ul .tweets-list .header-blue .col-sm-4 span.fa {
  font-size: 26px;
  top: -10px;
}
/* line 807, ../../Private/Sass/custom.scss */
.aside ul .pager-btns {
  margin-top: 35px;
  overflow: hidden;
}
/* line 811, ../../Private/Sass/custom.scss */
.aside ul .pager-btns li:first-child {
  margin-right: 210px;
}
/* line 815, ../../Private/Sass/custom.scss */
.aside ul .pager-btns .pager li > a, .aside ul .pager-btns .pager li > span {
  background-color: inherit;
  border-color: #31A2D8;
  color: #31A2D8;
}
/* line 819, ../../Private/Sass/custom.scss */
.aside ul .pager-btns .pager li > a:hover, .aside ul .pager-btns .pager li > a:focus, .aside ul .pager-btns .pager li > span:hover, .aside ul .pager-btns .pager li > span:focus {
  background-color: #31A2D8;
  color: #fff;
}
/* line 825, ../../Private/Sass/custom.scss */
.aside ul .pagination-btns {
  margin-bottom: 35px;
}
/* line 827, ../../Private/Sass/custom.scss */
.aside ul .pagination-btns .pagination > li > a, .aside ul .pagination-btns .pagination > li > span {
  background-color: inherit;
  color: #31A2D8;
  border-color: #31A2D8;
}
/* line 831, ../../Private/Sass/custom.scss */
.aside ul .pagination-btns .pagination > li > a:hover, .aside ul .pagination-btns .pagination > li > a:focus, .aside ul .pagination-btns .pagination > li > span:hover, .aside ul .pagination-btns .pagination > li > span:focus {
  background-color: #31A2D8;
  color: #fff;
}

/* List */
/* line 840, ../../Private/Sass/custom.scss */
.heading-text {
  margin-bottom: 40px;
}

/* line 843, ../../Private/Sass/custom.scss */
.tweets-list {
  padding: 5px 80px;
}
/* line 845, ../../Private/Sass/custom.scss */
.tweets-list .checkbox {
  margin: 0;
  padding: 0;
}
/* line 848, ../../Private/Sass/custom.scss */
.tweets-list .checkbox label {
  color: transparent;
  padding-left: 10px;
  margin-top: 25px;
  margin-bottom: -20px;
}
/* line 853, ../../Private/Sass/custom.scss */
.tweets-list .checkbox label:before {
  color: #666;
  font-size: 35px;
}
/* line 859, ../../Private/Sass/custom.scss */
.tweets-list .header-blue {
  padding: 8px 0;
  border-radius: 4px;
}
/* line 862, ../../Private/Sass/custom.scss */
.tweets-list .header-blue .col-sm-2.text-center img {
  width: 60px;
  height: 60px;
}
/* line 866, ../../Private/Sass/custom.scss */
.tweets-list .header-blue .col-sm-4 ul li {
  margin: 0 8px 8px 0;
}
/* line 868, ../../Private/Sass/custom.scss */
.tweets-list .header-blue .col-sm-4 ul li a {
  background-color: #ffb300;
  padding: 2px 6px;
  font-size: 12px;
}
/* line 874, ../../Private/Sass/custom.scss */
.tweets-list .header-blue .col-sm-4 span.fa-bookmark-o, .tweets-list .header-blue .col-sm-4 span.fa-bookmark {
  font-size: 26px;
  top: -10px;
}
/* line 878, ../../Private/Sass/custom.scss */
.tweets-list .header-blue .col-sm-4 span.fa-bookmark:hover:before {
  content: "\f00d";
  font-size: 24px;
  cursor: pointer;
}

/* line 885, ../../Private/Sass/custom.scss */
.pager-btns {
  margin-top: 35px;
  overflow: hidden;
}
/* line 889, ../../Private/Sass/custom.scss */
.pager-btns li:first-child {
  margin-right: 210px;
}
/* line 893, ../../Private/Sass/custom.scss */
.pager-btns .pager li > a, .pager-btns .pager li > span {
  background-color: inherit;
  border-color: #31A2D8;
  color: #31A2D8;
}
/* line 897, ../../Private/Sass/custom.scss */
.pager-btns .pager li > a:hover, .pager-btns .pager li > a:focus, .pager-btns .pager li > span:hover, .pager-btns .pager li > span:focus {
  background-color: #31A2D8;
  color: #fff;
}

/* line 903, ../../Private/Sass/custom.scss */
.pagination-btns {
  margin-bottom: 35px;
}
/* line 905, ../../Private/Sass/custom.scss */
.pagination-btns .pagination > li > a, .pagination-btns .pagination > li > span {
  background-color: inherit;
  color: #31A2D8;
  border-color: #31A2D8;
}
/* line 909, ../../Private/Sass/custom.scss */
.pagination-btns .pagination > li > a:hover, .pagination-btns .pagination > li > a:focus, .pagination-btns .pagination > li > span:hover, .pagination-btns .pagination > li > span:focus {
  background-color: #31A2D8;
  color: #fff;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124px;
  }
}
@keyframes color {
  100%, 0% {
    stroke: #e53272;
  }
  40% {
    stroke: #31A2D8;
  }
  66% {
    stroke: #00A29A;
  }
  80%, 90% {
    stroke: #ffb300;
  }
}
/* line 951, ../../Private/Sass/custom.scss */
.map {
  margin: 0;
  min-height: 450px;
  text-align: center;
}
/* line 957, ../../Private/Sass/custom.scss */
.map .showbox {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15%;
  z-index: 10;
  display: none !important;
}
/* line 964, ../../Private/Sass/custom.scss */
.map .loader {
  position: relative;
  margin: 0px auto;
  width: 100px;
}
/* line 968, ../../Private/Sass/custom.scss */
.map .loader:before {
  content: '';
  display: block;
  padding-top: 100%;
}
/* line 974, ../../Private/Sass/custom.scss */
.map .circular {
  animation: rotate 1s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
/* line 983, ../../Private/Sass/custom.scss */
.map .path {
  stroke-dasharray: 1,000;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite, color 5s ease-in-out infinite;
  stroke-linecap: round;
}

/* Breakpoints
// ========================================================================== */
/* 320px */
/* 480px */
/* 599px */
/* 600px */
/* 768px */
/* 967px */
/* 960px */
/* 1400px */
/* Convert px to ems
// ========================================================================== */
/* Mixins
// ========================================================================== */
/* Media Query Watcher
// ========================================================================== */
/* line 1054, ../../Private/Sass/custom.scss */
#getActiveMQ-watcher {
  font-family: "break-0";
}
@media (min-width: 20em) {
  /* line 1054, ../../Private/Sass/custom.scss */
  #getActiveMQ-watcher {
    font-family: "break-1";
  }
}
@media (min-width: 30em) {
  /* line 1054, ../../Private/Sass/custom.scss */
  #getActiveMQ-watcher {
    font-family: "break-2";
  }
}
@media (min-width: 37.5em) {
  /* line 1054, ../../Private/Sass/custom.scss */
  #getActiveMQ-watcher {
    font-family: "break-3";
  }
}
@media (min-width: 48em) {
  /* line 1054, ../../Private/Sass/custom.scss */
  #getActiveMQ-watcher {
    font-family: "break-4";
  }
}
@media (min-width: 60em) {
  /* line 1054, ../../Private/Sass/custom.scss */
  #getActiveMQ-watcher {
    font-family: "break-5";
  }
}

/* =Map Pin Animation
// ========================================================================== */
@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0;
  }
}
@-moz-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0;
  }
}
@keyframes pulsate {
  0% {
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0;
  }
}
/* line 1115, ../../Private/Sass/custom.scss */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes bounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes bounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px);
  }
  80% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
/* line 1174, ../../Private/Sass/custom.scss */
.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}

/* =Places Map
// ========================================================================== */
/* line 1181, ../../Private/Sass/custom.scss */
#places-map {
  position: relative;
}
/* line 1187, ../../Private/Sass/custom.scss */
#places-map h1 {
  font-size: 1.3125em;
  margin-top: 0.95238em;
  text-align: center;
}
@media (min-width: 37.5em) {
  /* line 1187, ../../Private/Sass/custom.scss */
  #places-map h1 {
    font-size: 2.1875em;
    margin-top: 0.94286em;
  }
}
/* line 1196, ../../Private/Sass/custom.scss */
#places-map img {
  height: auto;
  position: relative;
  width: 100%;
  z-index: 1;
}
/* line 1202, ../../Private/Sass/custom.scss */
.secondary-page #places-map .content {
  margin: 0;
  position: relative;
}
@media (min-width: 60em) {
  /* line 1202, ../../Private/Sass/custom.scss */
  .secondary-page #places-map .content {
    margin: 0 auto;
  }
}
/* line 1209, ../../Private/Sass/custom.scss */
#places-map .map {
  position: relative;
  max-width: 56.4375em;
  margin-left: auto;
  margin-right: auto;
}
/* line 1214, ../../Private/Sass/custom.scss */
#places-map .map-pins {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
}
/* line 1221, ../../Private/Sass/custom.scss */
#places-map .map-location-marker {
  background: url(../images/pin.png) no-repeat;
  cursor: pointer;
  position: absolute;
  height: 36px;
  margin-top: -36px;
  margin-left: -18px;
  width: 36px;
  z-index: 3;
}
/* line 1223, ../../Private/Sass/custom.scss */
#places-map .map-location-marker.twinkle {
  animation-delay: 1;
  animation-name: twinkle;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}
@media (min-width: 48em) {
  /* line 1242, ../../Private/Sass/custom.scss */
  .js #places-map .map-location-marker {
    visibility: hidden;
  }
  /* line 1245, ../../Private/Sass/custom.scss */
  .js #places-map .map-location-marker.bounceInDown {
    visibility: visible;
  }
}
/* line 1250, ../../Private/Sass/custom.scss */
#places-map .marker-san-francisco {
  left: 8%;
  top: 30%;
}
@media (max-width: 37.4375em) {
  /* line 1250, ../../Private/Sass/custom.scss */
  #places-map .marker-san-francisco {
    left: 6%;
    top: 32%;
  }
}
/* line 1258, ../../Private/Sass/custom.scss */
#places-map .marker-denver {
  left: 13%;
  top: 29%;
  -webkit-animation-delay: .1s;
  animation-delay: .1s;
}
/* line 1264, ../../Private/Sass/custom.scss */
#places-map .marker-argentina {
  left: 29.5%;
  bottom: 21.5%;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}
/* line 1270, ../../Private/Sass/custom.scss */
#places-map .marker-dubai {
  left: 64%;
  top: 42%;
  -webkit-animation-delay: .6s;
  animation-delay: .6s;
}
/* line 1276, ../../Private/Sass/custom.scss */
#places-map .marker-costa-rica {
  left: 17.5%;
  top: 50%;
  -webkit-animation-delay: .2s;
  animation-delay: .2s;
}
/* line 1282, ../../Private/Sass/custom.scss */
#places-map .marker-peterborough {
  left: 45.5%;
  top: 20%;
  -webkit-animation-delay: .4s;
  animation-delay: .4s;
}
/* line 1288, ../../Private/Sass/custom.scss */
#places-map .marker-vilnius {
  left: 52%;
  top: 18%;
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
}
/* line 1294, ../../Private/Sass/custom.scss */
#places-map .marker-singapore {
  left: 79%;
  bottom: 42%;
  -webkit-animation-delay: .7s;
  animation-delay: .7s;
}
/* line 1300, ../../Private/Sass/custom.scss */
#places-map .marker-manila {
  left: 84.5%;
  top: 48%;
  -webkit-animation-delay: .8s;
  animation-delay: .8s;
}
/* line 1306, ../../Private/Sass/custom.scss */
#places-map .marker-sydney {
  bottom: 28%;
  right: 2%;
  -webkit-animation-delay: .9s;
  animation-delay: .9s;
}
/* line 1312, ../../Private/Sass/custom.scss */
#places-map .map-location-marker:after {
  -webkit-animation: pulsate 2s ease-in-out infinite;
  -moz-animation: pulsate 2s ease-in-out infinite;
  animation: pulsate 2s ease-in-out infinite;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 36px;
  content: "";
  display: block;
  height: 31px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: -3px;
  -webkit-transition: all .25s linear;
  -moz-transition: all .25s linear;
  -o-transition: all .25s linear;
  transition: all .25s linear;
  width: 36px;
  z-index: 2;
}

/* line 1334, ../../Private/Sass/custom.scss */
#page-places {
  position: relative;
}

/* line 1339, ../../Private/Sass/custom.scss */
.loader {
  position: relative;
  display: inline-block;
  width: 10%;
  height: 10px;
}

/* ooo, css circles*/
/* line 1347, ../../Private/Sass/custom.scss */
.circle {
  float: left;
  margin-right: 5px;
  /* key up the animations! */
  -webkit-animation: dotloader 1.5s infinite;
  -moz-animation: dotloader 1.5s infinite;
  -ms-animation: dotloader 1.5s infinite;
  -o-animation: dotloader 1.5s infinite;
  animation: dotloader 1.5s infinite;
}

/* line 1358, ../../Private/Sass/custom.scss */
.circle + .circle {
  -webkit-animation: dotloader 1.5s 0.1s infinite;
  -moz-animation: dotloader 1.5s 0.1s infinite;
  -ms-animation: dotloader 1.5s 0.1s infinite;
  -o-animation: dotloader 1.5s 0.1s infinite;
  animation: dotloader 1.5s 0.1s infinite;
}

/* line 1366, ../../Private/Sass/custom.scss */
.circle + .circle + .circle {
  -webkit-animation: dotloader 1.5s 0.2s infinite;
  -moz-animation: dotloader 1.5s 0.2s infinite;
  -ms-animation: dotloader 1.5s 0.2s infinite;
  -o-animation: dotloader 1.5s 0.2s infinite;
  animation: dotloader 1.5s 0.2s infinite;
}

@keyframes twinkle {
  100% {
    opacity: 0.2;
  }
}
@keyframes "dotloader" {
  0%,20% {
    width: 4px;
    height: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    left: 0%;
    background-color: #133a4c;
  }
  30%,70% {
    width: 8px;
    height: 8px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    left: 50%;
    background-color: #133a4c;
  }
  80%,100% {
    width: 4px;
    height: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    left: 100%;
    background-color: #133a4c;
  }
}
@-moz-keyframes dotloader {
  0%,20% {
    width: 4px;
    height: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    left: 0%;
    background-color: #133a4c;
  }
  30%,70% {
    width: 8px;
    height: 8px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    left: 50%;
    background-color: #133a4c;
  }
  80%,100% {
    width: 4px;
    height: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    left: 100%;
    background-color: #133a4c;
  }
}
@-webkit-keyframes "dotloader" {
  0%,20% {
    width: 4px;
    height: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    left: 0%;
    background-color: #133a4c;
  }
  30%,70% {
    width: 8px;
    height: 8px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    left: 50%;
    background-color: #133a4c;
  }
  80%,100% {
    width: 4px;
    height: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    left: 100%;
    background-color: #133a4c;
  }
}
@-ms-keyframes "dotloader" {
  0%,20% {
    width: 4px;
    height: 4px;
    border-radius: 4px;
    left: 0%;
    background-color: #133a4c;
  }
  30%,70% {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    left: 50%;
    background-color: #133a4c;
  }
  80%,100% {
    width: 4px;
    height: 4px;
    border-radius: 4px;
    left: 100%;
    background-color: #133a4c;
  }
}
@-o-keyframes "dotloader" {
  0%,20% {
    width: 4px;
    height: 4px;
    border-radius: 4px;
    left: 0%;
    background-color: #133a4c;
  }
  30%,70% {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    left: 50%;
    background-color: #133a4c;
  }
  80%,100% {
    width: 4px;
    height: 4px;
    border-radius: 4px;
    left: 100%;
    background-color: #133a4c;
  }
}
